<div id="layoutSidenav_nav">
  <nav class="sidenav shadow-right sidenav-light">
    <div class="sidenav-menu">
      <div class="nav accordion" id="accordionSidenav">
        <!-- Sidenav Menu Heading (Account)-->
        <!-- * * Note: * * Visible only on and above the sm breakpoint-->
        <div class="sidenav-menu-heading d-sm-none">100000 </div>
        <!-- Sidenav Link (Alerts)-->
        <!-- * * Note: * * Visible only on and above the sm breakpoint-->
        <a class="nav-link d-sm-none" href="#!">
          <div class="nav-link-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-bell">
              <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
              <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
            </svg></div>
          a
          <span class="badge badge-warning-soft text-warning ml-auto">4 New!</span>
        </a>
        <!-- Sidenav Link (Messages)-->
        <!-- * * Note: * * Visible only on and above the sm breakpoint-->
        <a class="nav-link d-sm-none" href="#!">
          <div class="nav-link-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-mail">
              <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
              <polyline points="22,6 12,13 2,6"></polyline>
            </svg></div>
          100002
          <span class="badge badge-success-soft text-success ml-auto">2 New!</span>
        </a>
        <!-- Sidenav Heading (App Views)-->
        <div class="sidenav-menu-heading">{{'app_sidevar.first_section_title'| translate}}
        </div>

        <!-- Sidenav Accordion (First option) Start -->
        <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-bs-toggle="collapse"
          data-bs-target="#collapseFirstOption" aria-expanded="false" aria-controls="collapseFirstOption">
          <div class="nav-link-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-dollar-sign">
              <rect x="3" y="3" width="7" height="7"></rect>
              <rect x="14" y="3" width="7" height="7"></rect>
              <rect x="14" y="14" width="7" height="7"></rect>
              <rect x="3" y="14" width="7" height="7"></rect>
            </svg></div>
            {{'app_sidevar.first_section_first_option'| translate}}
          <div class="sidenav-collapse-arrow"><svg class="svg-inline--fa fa-angle-down fa-w-10" aria-hidden="true"
              focusable="false" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512" data-fa-i2svg="">
              <path fill="currentColor"
                d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z">
              </path>
            </svg><!-- <i class="fas fa-angle-down"></i> Font Awesome fontawesome.com -->
          </div>
        </a>
        <div class="collapse" id="collapseFirstOption" data-bs-parent="#accordionSidenav">
          <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">
            <!-- Nested Sidenav Accordion (Pages -> Account)-->
            <a class="nav-link" [routerLink]="['/app/sales/customers/']" [routerLinkActive]="['active']">{{'app_sidevar.first_section_first_option_1'| translate}}
            </a>
            <a class="nav-link" [routerLink]="['/app/sales/invoices/']" [routerLinkActive]="['active']">{{'app_sidevar.first_section_first_option_2'| translate}}
            </a>
            <a class="nav-link" [routerLink]="['/app/sales/charges/']" [routerLinkActive]="['active']">{{'app_sidevar.first_section_first_option_3'| translate}}
            </a>
          </nav>
        </div>
        <!-- Sidenav Accordion (First option) End -->


        <!-- Sidenav Accordion (Second option) Start -->
        <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-bs-toggle="collapse"
          data-bs-target="#collapseSecondOption" aria-expanded="false" aria-controls="collapseSecondOption">
          <div class="nav-link-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-dollar-sign">
              <rect x="3" y="3" width="7" height="7"></rect>
              <rect x="14" y="3" width="7" height="7"></rect>
              <rect x="14" y="14" width="7" height="7"></rect>
              <rect x="3" y="14" width="7" height="7"></rect>
            </svg></div>
            {{'app_sidevar.first_section_second_option'| translate}}
          <div class="sidenav-collapse-arrow"><svg class="svg-inline--fa fa-angle-down fa-w-10" aria-hidden="true"
              focusable="false" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512" data-fa-i2svg="">
              <path fill="currentColor"
                d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z">
              </path>
            </svg><!-- <i class="fas fa-angle-down"></i> Font Awesome fontawesome.com -->
          </div>
        </a>
        <div class="collapse" id="collapseSecondOption" data-bs-parent="#accordionSidenav">
          <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">
            <!-- Nested Sidenav Accordion (Pages -> Account)-->
            <a class="nav-link" [routerLink]="['/app/services/alarm-monitoring/']" [routerLinkActive]="['active']">{{'app_sidevar.first_section_second_option_1'| translate}}
            </a>
            <a class="nav-link" [routerLink]="['/app/services/device-monitoring/']" [routerLinkActive]="['active']">{{'app_sidevar.first_section_second_option_2'| translate}}
            </a>
            <a class="nav-link" [routerLink]="['/app/services/maintenance-installation-and-others/']" [routerLinkActive]="['active']">{{'app_sidevar.first_section_second_option_3'| translate}}
            </a>
          </nav>
        </div>
        <!-- Sidenav Accordion (Second option) End -->





        <!-- Sidenav Heading (Addons)-->
        <div class="sidenav-menu-heading">{{'app_sidevar.second_section_title'| translate}}
        </div>
        <!-- Sidenav Link (Charts)-->
        <a class="nav-link" [routerLink]="['/app/configuration/plans/']" [routerLinkActive]="['active']">
          <div class="nav-link-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-bar-chart">
              <line x1="12" y1="20" x2="12" y2="10"></line>
              <line x1="18" y1="20" x2="18" y2="4"></line>
              <line x1="6" y1="20" x2="6" y2="16"></line>
            </svg></div>
            {{'app_sidevar.second_section_first_option_text'| translate}}
        </a>
        <a class="nav-link" [routerLink]="['/app/configuration/users/']" [routerLinkActive]="['active']">
          <div class="nav-link-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-bar-chart">
              <line x1="12" y1="20" x2="12" y2="10"></line>
              <line x1="18" y1="20" x2="18" y2="4"></line>
              <line x1="6" y1="20" x2="6" y2="16"></line>
            </svg></div>
            {{'app_sidevar.second_section_second_option_text'| translate}}
        </a>
      </div>
    </div>
    <!-- Sidenav Footer-->
    <div class="sidenav-footer">
      <div class="sidenav-footer-content">
        <div class="sidenav-footer-subtitle">{{'app_sidevar.logged_in_as_text'| translate}}
        </div>
        <div class="sidenav-footer-title">{{userName}}</div>
      </div>
    </div>
  </nav>
</div>
