
  <!-- https://mattlewis92.github.io/angular-calendar/docs/#documentation -->
  <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
      <div class="container-xl px-4">
          <div class="page-header-content">
              <div class="row align-items-center justify-content-between pt-3">
                  <div class="col-auto mb-3">
                      <h1 class="page-header-title">
                          <div class="page-header-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg></div>
                          <span [ngSwitch]="selectedOption">
                            <ng-container *ngSwitchCase="'profile'">{{'sales.customer.customer_customerActions.title_option1'| translate}}
                            </ng-container>
                            <ng-container *ngSwitchCase="'alarmMonitoring'">{{'sales.customer.customer_customerActions.title_option2'| translate}}
                            </ng-container>
                            <ng-container *ngSwitchCase="'billings'">{{'sales.customer.customer_customerActions.title_option3'| translate}}
                            </ng-container>
                            <ng-container *ngSwitchCase="'invoices'">{{'sales.customer.customer_customerActions.title_option4'| translate}}
                            </ng-container>
                          </span>
                      </h1>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <!-- Main page content-->
  <div class="container-xl px-4 mt-4">
      <!-- Account page navigation-->
      <app-customer-action-navbar
      [selectedOption]="selectedOption"
      (selectedOptionEvent)="onSelectedOptionEvent($event)"
      ></app-customer-action-navbar>
      <hr class="mt-0 mb-4">
      <!-- CONTENT -->
      <div [ngSwitch]="selectedOption">
        <app-customer-action-profile *ngSwitchCase="'profile'"></app-customer-action-profile>
        <app-customer-action-alarm-monitoring *ngSwitchCase="'alarmMonitoring'"></app-customer-action-alarm-monitoring>
        <app-customer-action-billings *ngSwitchCase="'billings'"></app-customer-action-billings>
        <app-customer-action-invoices *ngSwitchCase="'invoices'"></app-customer-action-invoices>
      </div>




  </div>
