<div class="card my-5" [@flipInX]="flipInX">
  <div class="card-body p-5 text-center"><div class="h3 font-weight-light mb-0">{{'auth_forgot_password.title'| translate}}
  </div></div>
  <hr class="my-0">
  <div class="card-body p-5">
      <div class="text-center small text-muted mb-4">{{'auth_forgot_password.general_text'| translate}}
      </div>
      <!-- Forgot password form-->
      <form>
          <!-- Form Group (email address)-->
          <div class="form-group">
              <label class="text-gray-600 small" for="emailExample">{{'auth_forgot_password.form_email_field'| translate}}
              </label>
              <input class="form-control form-control-solid" type="text" placeholder="" aria-label="Email Address" aria-describedby="emailExample">
          </div>
          <!-- Form Group (reset password button)    -->
          <div class="form-group mb-0"><a class="btn btn-primary" href="auth-login-social.html">{{'auth_forgot_password.forgot_button_text'| translate}}
          </a></div>
      </form>
  </div>
  <hr class="my-0">
  <div class="card-body px-5 py-4">
      <div class="small text-center">
          <a [routerLink]="['/']">{{'auth_forgot_password.remember_password_field'| translate}}
          </a>
      </div>
  </div>
</div>
