
<div class="row">
  <div class="col-xl-6">
    <!-- Profile picture card-->
    <div class="card mb-4 mb-xl-0">
      <div class="card-header">{{'sales.customer.customer_customerActionsProfile.first_title'| translate}}
      </div>
      <div class="card-body">
        <app-customer-general-update-form  [customer]="customer"></app-customer-general-update-form>
      </div>
    </div>
    <br>
    <div class="card mb-4 mb-xl-0">
      <div class="card-header">{{'sales.customer.customer_customerActionsProfile.second_title'| translate}}
      </div>
      <div class="card-body">
        <app-tax-profile-update-form [customer]="customer"></app-tax-profile-update-form>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <!-- Account details card-->
    <div class="card mb-4">
      <div class="card-header">{{'sales.customer.customer_customerActionsProfile.third_title'| translate}}
      </div>
      <div class="card-body">
        <app-customer-address-update-form [customer]="customer"></app-customer-address-update-form>
      </div>
    </div>
    <div class="card mb-4" [hidden]="!showCard">
      <div class="card-header">Formas de pago
      </div>
      <div class="card-body">
        <app-customer-sync-conekta [customer]="customer"></app-customer-sync-conekta>
      </div>
    </div>
  </div>
</div>
